<table>
	<tr class='descriptions'>
		<th></th>
		<th colspan='2'></th>
		<th><!-- spacer --></th>
		<th class='domain_avg'>10-Day Average</th>
		<th class='small domain_rank'>(higher is better)</th>
		<th class='small top_rank'>(rank of top listing)</th>
		<th class='small top_domain_rank'>(rank of top domain)</th>
		<th><!-- spacer --></th>
		<th class='yahoo' colspan='3'>Yahoo Ads</th>
		<th></th>
	 <% unless @rss %>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
	<% end %>
	</tr>
	<tr>
		<th class='term'><%=link_to 'Term', seo_search_terms_path(:sort_column=>'term', :sort_order=>@sort_order)%></th>
		<th class='domain_position' colspan='2'>
			<%=link_to "#{Seo::Config.my_site_name} Position", seo_search_terms_path(:sort_column=>'my_domain_position', :sort_order=>@sort_order)%><br/>
			<span class='small'>(lower is better)</span>
		</th>
		<th class='spacer'><!-- spacer --></th>
		<th class='domain_avg'><%=link_to "#{Seo::Config.my_site_name} Position", seo_search_terms_path(:sort_column=>'avg_my_domain_position', :sort_order=>@sort_order)%></th>
		<th class='domain_rank'><%=link_to "#{Seo::Config.my_site_name} Rank", seo_search_terms_path(:sort_column=>'my_domain_rank', :sort_order=>@sort_order)%></th>
		<th class='top_domain'><%=link_to 'Top Rank', seo_search_terms_path(:sort_column=>'top_rank', :sort_order=>@sort_order)%></th>
		<th class='top_domain_rank'><%=link_to 'Top Domain Rank', seo_search_terms_path(:sort_column=>'top_domain_rank', :sort_order=>@sort_order)%></th>
		<th class='spacer'><!-- spacer --></th>
		<th class='yahoo impressions'><%=link_to 'Impressions', seo_search_terms_path(:sort_column=>'yahoo_impressions', :sort_order=>@sort_order)%></th>
		<th class='yahoo clicks'><%=link_to 'Clicks', seo_search_terms_path(:sort_column=>'yahoo_clicks', :sort_order=>@sort_order)%></th>
		<th class='yahoo max_cpc'><%=link_to 'Max CPC', seo_search_terms_path(:sort_column=>'yahoo_maxcpc', :sort_order=>@sort_order)%></th>
		<th class='last_update'>Last Update</th>
	<% unless @rss %>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
	<% end %>
	</tr>
	<%= render :partial => 'seo_search_term.html.erb', :collection=>@seo_search_terms %>
</table>
