	<tr id='seo_<%= seo_search_term.id %>' class='<%= "alt_row" if (seo_search_term_counter%2)==0 %>'>
		<td class='term'><%= link_to(seo_search_term.term, seo_search_term_path(seo_search_term)) %></td>

		<td class='domain_position_chart'><%= seo_chart_html(seo_search_term, :my_domain_position, true) %></td>
		<td class='domain_position <%=seo_up_or_down_class(seo_search_term, :my_domain_position, true)%>'><%= seo_search_term.my_domain_position || '-' %></td>
		<td class='spacer'><!-- spacer --></td>
		<td class='domain_avg'><%= seo_search_term.avg_my_domain_position ? number_with_precision(seo_search_term.avg_my_domain_position,:precision => 1) : '-' %></td>
		<td class='domain_rank'><%= seo_search_term.my_domain_rank || '-' %></td>
		<td class='top_domain'><%= seo_search_term.top_rank || '-' %></td>
		<td class='top_domain_rank'><%= seo_search_term.top_domain_rank || '-' %></td>
		<td class='spacer'><!-- spacer --></td>


		<td class='yahoo impressions'><%= seo_search_term.yahoo_impressions.nil? ? '-' : seo_search_term.yahoo_impressions.collect{|v| number_with_precision(v, :precision => 1) }.join(' / ') %></td>
		<td class='yahoo clicks'><%= seo_search_term.yahoo_clicks.nil? ? '-' : seo_search_term.yahoo_clicks.collect{|v| number_with_precision(v, :precision => 1) }.join(' / ') %></td>
		<td class='yahoo max_cpc'><%= seo_search_term.yahoo_maxcpc.nil? ? '-' : seo_search_term.yahoo_maxcpc.collect{|v| number_to_currency(v) }.join(' / ') %></td>
		<td class='last_update'><%= seo_search_term.last_query_date.nil? ? '-' : seo_search_term.last_query_date.to_formatted_s(:short) %></td>

	<% unless @rss %>
		<td><%= link_to_remote 'Query!', {:url => query_seo_search_term_path(seo_search_term)} %></td>
		<td><%= link_to 'Show', seo_search_term %></td>
		<td><%= link_to 'Edit', edit_seo_search_term_path(seo_search_term) %></td>
		<td><%= link_to 'Destroy', seo_search_term, :confirm => 'Are you sure?', :method => :delete %></td>
	<% end %>
	</tr>
