<%- content_for(:seopener_head) do -%>
	<%= stylesheet_link_tag 'seopener' %>
	<%= javascript_include_tag :defaults %>
<%- end -%>

<div class='search_terms' id='seopener'>
	<h2>Listing SEO Search Terms</h2>

	<%= render :partial => 'seo/search_terms/seo_search_term_table' %>
	<p>
		<%= link_to 'Download as CSV', seo_search_terms_path(:format=>'csv') %>
	</p>
	<p>
		<%= link_to 'New SEO Search Term(s)', new_seo_search_term_path %>
	</p>
</div>